@import "tailwindcss";
@import "@fontsource-variable/ibm-plex-sans";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans Variable", sans-serif;
}

/* group-hover does not work on mobile devices */
.dropdown-parent:hover .dropdown-child {
  opacity: 100;
  visibility: visible;
}
